@import "tailwindcss";

:root {
  color-scheme: dark;
  --bg-value: #121212;
  --fg-value: #ffffff;
  --muted-value: #737373;
  --extra-muted-value: #585858;
  --faint-value: #282828;
  --extra-faint-value: #181818;
}

#webamp-container {
  width: 274px;
  height: 346px;
  position: absolute;
}

#webamp {
  pointer-events: none;
}
